*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

:root{
    --font-display: "Bebas Neue", sans-serif;
    --font-sans: "Inter Tight", sans-serif;
    --font-mono: "Geist Mono", monospace;
    --white: #fff;
    --brand: #ee171f;
    --primary: #040309;
    --secondary: #141319;
}

body{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-sans);
    padding: 3rem;
    color: var(--secondary);
    background: var(--white);
    font-display: swap;
}

::selection {
    background: var(--brand);
    color: var(--white);
}

h1, h2 {
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: .5rem;
}

h1{
    width: 12ch;
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--font-display);
    line-height: 1;
    letter-spacing: -1px;
    color: #000;
}

h2{
    font-size: 1.5rem;
    font-family: var(--font-display);
    text-transform: uppercase;
}

p{
    width: 37ch;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}

small{
    font-family: var(--font-mono);
    font-size: 0.75rem;
    font-weight: 500;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

hgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    text-wrap: pretty;
}

canvas{
    display: none;
}

svg{
    transition-property: transform;
    transition: .15s ease-in;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    text-transform: uppercase;
    user-select: none;
}

.link{
    font-size: 0.9rem;
    font-weight: 700;
    font-family: var(--font-sans);
    letter-spacing: -1px;
    color: var(--secondary);
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: .15s ease-in;

    &.prev{
        svg{
            transform: rotate(180deg)
        }
    }

    &:hover{
        color: var(--brand);

        &.next{
            svg{
                transform: translateX(3px);
            }
        }

        &.prev{
            svg{
                transform: rotate(180deg) translateX(3px);
            }
        }
    }
}

.col{
    width: 100%;
    height: 100%;
}

.poster{
    width: 350px;
    height: auto;
}

.my{
    margin: .5rem 0;
}

.ml-auto{
    margin-left: auto;
}

.flex{
    height: fit-content;
    display: flex;
    align-items: center;
    gap: .2rem;
}

.between{
    width: 100%;
    justify-content: space-between;
}

.gap-md{
    gap: .9rem;
}

.gradient{
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    height: 500px;
    width: 500px;
    transform: translate(-30%, 20%);
    border-radius: 50%;
    background-color: rgba(238, 23, 31, 0.5);
    opacity: 0.5;
    filter: blur(80px);
    z-index: -5;
}

@media (width <= 768px) {
    body{
        padding: 3rem 1.5rem;
    }

    main{
        grid-template-columns: 1fr;
    }

    hgroup{
        align-items: center;
        text-align: center;
    }

    h1{
        font-size: 2.7rem;
    }

    .poster{
        width: 200px;
    }
}

@media (width <= 600px) {
    p{
        width: 100%;
        text-align: center;
    }
}